<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CORE Prompt</title>
        <meta name="description" content="">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/design/shop.css">
    </head>
    <body>

        <section class="container1">
            <header>
                <img class="logo" src="/static/images/flogo.png" alt="logo">
                <nav>
                    <ul class="nav_links">
                        <li><a href="#" class="active">Shop</a></li>
                        <li><a href="{% url 'index' %}">Sale</a></li>
                        <li><a href="{% url 'about' %}">About</a></li>
                        <li><a href="{% url 'cart' %}">Cart</a></li>
                    </ul>           
                </nav>
                {% if user.is_authenticated %}
                <a class="cta" href="/signout"><button type="submit">Sign Out</button></a>

                {% else %}
                <a class="cta" href="/signup"><button type="submit">Sign Up</button></a>
                {% endif %}
            </header>
    
            <section class="pageheader" id="page-header">
                <div class="container">
                  <div class="down" onclick="window.location.href='#section2'"></div>
                  <div class="down-arrow" onclick="window.location.href='#section2'"></div>
                </div>
            </section>
        </section>


        <section class="section2" id="section2">
            <h1 class="text-center1">New Arrivals</h1>
            <div class="pro-container">
                <div class="pro1">
                    <div class="fav">
                        <input type="checkbox" checked="checked" id="favourite1" name="favourite-checkbox" value="=favourite-button">
                        <label for="favourite1" class="box">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feathe feather-heart">
                                <path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path>
                            </svg>
                        </label>
                    </div>
                    <img class="image" src="/static/images/travis1.png" onclick="window.location.href='/product'">
                    <h5>CASH CARTI</h5>
                </div>
                <div class="pro1">
                    <div class="fav">
                        <input type="checkbox" checked="checked" id="favourite2" name="favourite-checkbox" value="=favourite-button">
                        <label for="favourite2" class="box">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feathe feather-heart">
                                <path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path>
                            </svg>
                        </label>
                    </div>
                    <img class="image" src="/static/images/travis1.png" onclick="window.location.href='/product'">
                    <h5>CASH CARTI</h5>
                </div>
                <div class="pro1">
                    <div class="fav">
                        <input type="checkbox" checked="checked" id="favourite3" name="favourite-checkbox" value="=favourite-button">
                        <label for="favourite3" class="box">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feathe feather-heart">
                                <path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path>
                            </svg>
                        </label>
                    </div>
                    <img class="image" src="/static/images/travis1.png" onclick="window.location.href='/product'">
                    <h5>CASH CARTI</h5>
                </div>
                <div class="pro1">
                    <div class="fav">
                        <input type="checkbox" checked="checked" id="favourite3" name="favourite-checkbox" value="=favourite-button">
                        <label for="favourite3" class="box">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feathe feather-heart">
                                <path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path>
                            </svg>
                        </label>
                    </div>
                    <img class="image" src="/static/images/travis1.png" onclick="window.location.href='/product'">
                    <h5>CASH CARTI</h5>
                </div>
                <div class="pro1">
                    <div class="fav">
                        <input type="checkbox" checked="checked" id="favourite3" name="favourite-checkbox" value="=favourite-button">
                        <label for="favourite3" class="box">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feathe feather-heart">
                                <path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path>
                            </svg>
                        </label>
                    </div>
                    <img class="image" src="/static/images/travis1.png" onclick="window.location.href='/product'">
                    <h5>CASH CARTI</h5>
                </div>
                <div class="pro1">
                    <div class="fav">
                        <input type="checkbox" checked="checked" id="favourite3" name="favourite-checkbox" value="=favourite-button">
                        <label for="favourite3" class="box">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feathe feather-heart">
                                <path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path>
                            </svg>
                        </label>
                    </div>
                    <img class="image" src="/static/images/travis1.png" onclick="window.location.href='/product'">
                    <h5>CASH CARTI</h5>
                </div>
                <div class="pro1">
                    <div class="fav">
                        <input type="checkbox" checked="checked" id="favourite3" name="favourite-checkbox" value="=favourite-button">
                        <label for="favourite3" class="box">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feathe feather-heart">
                                <path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path>
                            </svg>
                        </label>
                    </div>
                    <img class="image" src="/static/images/travis1.png" onclick="window.location.href='/product'">
                    <h5>CASH CARTI</h5>
                </div>
                <div class="pro1">
                    <div class="fav">
                        <input type="checkbox" checked="checked" id="favourite3" name="favourite-checkbox" value="=favourite-button">
                        <label for="favourite3" class="box">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feathe feather-heart">
                                <path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path>
                            </svg>
                        </label>
                    </div>
                    <img class="image" src="/static/images/travis1.png" onclick="window.location.href='/product'">
                    <h5>CASH CARTI</h5>
                </div>
            </div>
        </section>

        <section class="section2" id="section2">
            <h1 class="text-center1">Playboi Carti x <img src="/static/images/brand.png" class="brand"></h1>
            <div class="pro-container">
                <div class="pro1">
                    <div class="fav">
                        <input type="checkbox" checked="checked" id="favourite1" name="favourite-checkbox" value="=favourite-button">
                        <label for="favourite1" class="box">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feathe feather-heart">
                                <path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path>
                            </svg>
                        </label>
                    </div>
                    <img class="image" src="/static/images/travis1.png" onclick="window.location.href='/product'">
                    <h5>CASH CARTI</h5>
                </div>
                <div class="pro1">
                    <div class="fav">
                        <input type="checkbox" checked="checked" id="favourite2" name="favourite-checkbox" value="=favourite-button">
                        <label for="favourite2" class="box">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feathe feather-heart">
                                <path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path>
                            </svg>
                        </label>
                    </div>
                    <img class="image" src="/static/images/travis1.png" onclick="window.location.href='/product'">
                    <h5>CASH CARTI</h5>
                </div>
                <div class="pro1">
                    <div class="fav">
                        <input type="checkbox" checked="checked" id="favourite3" name="favourite-checkbox" value="=favourite-button">
                        <label for="favourite3" class="box">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feathe feather-heart">
                                <path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path>
                            </svg>
                        </label>
                    </div>
                    <img class="image" src="/static/images/travis1.png" onclick="window.location.href='/product'">
                    <h5>CASH CARTI</h5>
                </div>
                <div class="pro1">
                    <div class="fav">
                        <input type="checkbox" checked="checked" id="favourite3" name="favourite-checkbox" value="=favourite-button">
                        <label for="favourite3" class="box">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feathe feather-heart">
                                <path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path>
                            </svg>
                        </label>
                    </div>
                    <img class="image" src="/static/images/travis1.png" onclick="window.location.href='/product'">
                    <h5>CASH CARTI</h5>
                </div>
                <div class="pro1">
                    <div class="fav">
                        <input type="checkbox" checked="checked" id="favourite3" name="favourite-checkbox" value="=favourite-button">
                        <label for="favourite3" class="box">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feathe feather-heart">
                                <path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path>
                            </svg>
                        </label>
                    </div>
                    <img class="image" src="/static/images/travis1.png" onclick="window.location.href='/product'">
                    <h5>CASH CARTI</h5>
                </div>
                <div class="pro1">
                    <div class="fav">
                        <input type="checkbox" checked="checked" id="favourite3" name="favourite-checkbox" value="=favourite-button">
                        <label for="favourite3" class="box">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feathe feather-heart">
                                <path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path>
                            </svg>
                        </label>
                    </div>
                    <img class="image" src="/static/images/travis1.png" onclick="window.location.href='/product'">
                    <h5>CASH CARTI</h5>
                </div>
                <div class="pro1">
                    <div class="fav">
                        <input type="checkbox" checked="checked" id="favourite3" name="favourite-checkbox" value="=favourite-button">
                        <label for="favourite3" class="box">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feathe feather-heart">
                                <path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path>
                            </svg>
                        </label>
                    </div>
                    <img class="image" src="/static/images/travis1.png" onclick="window.location.href='/product'">
                    <h5>CASH CARTI</h5>
                </div>
                <div class="pro1">
                    <div class="fav">
                        <input type="checkbox" checked="checked" id="favourite3" name="favourite-checkbox" value="=favourite-button">
                        <label for="favourite3" class="box">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feathe feather-heart">
                                <path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path>
                            </svg>
                        </label>
                    </div>
                    <img class="image" src="/static/images/travis1.png" onclick="window.location.href='/product'">
                    <h5>CASH CARTI</h5>
                </div>
            </div>
        </section>


        <footer>
            <div class="row">
                <div class="col">
                    <img href="/index" src="/static/images/flogo.png" class="flogo"></img>
                    <div class="firsthalf">
                        <div class="icon">
                            <a href= "https://www.youtube.com/watch?v=Eer3YnRx_d8" class="small-text">Instagram</a>
                            <a href= "https://www.youtube.com/watch?v=Eer3YnRx_d8" class="small-text">Twitter</a>
                            <a href= "https://www.youtube.com/watch?v=Eer3YnRx_d8" class="small-text">Youtube</a>
                            <a href= "https://www.youtube.com/watch?v=Eer3YnRx_d8" class="small-text">Facebook</a>
                        </div>
                    </div>
                    <h4><strong>Subscribe to our newsletter to be notified about our latest developments.</strong></h4>
                    <form>
                        <input type="email" placeholder="Enter E-Mail Address" required >
                        <button type="submit"></button><i class="fa-light fa-arrow-up-right-dots"></i>
                    </form>
                </div>
        
                <div class="col">
                    <h4><strong>Links</strong></h4>
                    <ul>
                        <li><a class="small-text" href="https://www.youtube.com/watch?v=Eer3YnRx_d8">Home</a></li>
                        <li><a class="small-text" href="https://www.youtube.com/watch?v=Eer3YnRx_d8">About Us</a></li>
                        <li><a class="small-text" href="https://www.youtube.com/watch?v=Eer3YnRx_d8">Jobs</a></li>
                        <li><a class="small-text" href="https://www.youtube.com/watch?v=Eer3YnRx_d8">Contact</a></li>
                    </ul>
                </div>

                <div class="col">
                    <h4><strong>News</strong></h4>
                    <ul>
                        <li><a class="small-text" href="https://www.youtube.com/watch?v=Eer3YnRx_d8">FAQ</a></li>
                        <li><a class="small-text" href="https://www.youtube.com/watch?v=Eer3YnRx_d8">Media</a></li>
                        <li><a class="small-text" href="https://www.youtube.com/watch?v=Eer3YnRx_d8">Blog</a></li>
                        <li><a class="small-text" href="https://www.youtube.com/watch?v=Eer3YnRx_d8">Articles</a></li>
                    </ul>
                </div>
                
                <div class="col">
                    <h4><strong>Legal</strong></h4>
                    <ul>
                        <li><a class="small-text" href="https://www.youtube.com/watch?v=Eer3YnRx_d8">Terms</a></li>
                        <li><a class="small-text" href="https://www.youtube.com/watch?v=Eer3YnRx_d8">Privacy Policy</a></li>
                        <li><a class="small-text" href="https://www.youtube.com/watch?v=Eer3YnRx_d8">Cookies License</a></li>
                        <li><a class="small-text" href="https://www.youtube.com/watch?v=Eer3YnRx_d8">Hail Core</a></li>
                    </ul>
                </div>
            </div>
        </footer>



        <script src="/static/function/shop.js"></script>
        <script src="https://kit.fontawesome.com/d8eb02750e.js" crossorigin="anonymous"></script>
    </body>
</html>
