{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CORE Prompt</title>
    <meta name="description" content="">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/design/signup.css">
</head>
<body>

    <div class="container">
        <div class="signup">
            <form  action="/signup" method="post">
            {% csrf_token %}
                <h2 class="title">Register</h2>
                <div class="label">
                    <i>Username*</i>
                </div>

                <div class="input-field">
                    <input type="text" id="username" name="username" placeholder="eg: Arni" required>
                </div>


                <div class="label">
                    <i>Email*</i>
                </div>

                <div class="input-field">
                    <input type="mail" id="email" name="email" placeholder="mail@website.com" required>
                </div>

                <div class="label">
                    <i>Password*</i>
                </div>

                <div class="input-field">
                    <input type="password" id="pass1" name="pass1" placeholder="*****" required>
                </div>

                <div class="label">
                    <i>Confirm Password*</i>
                </div>

                <div class="input-field">
                    <input type="password" id="pass2" name="pass2" placeholder="*****" required>
                </div>

                <button type="submit" class="btn">Register</button>

                <div class="signin-direct">
                    <p>Already registered? &nbsp;<a href="/signin">Log into your account</a></p>
                </div>
            </form>
        </div>
        <div class="column">
            <img src="/static/images/pexels-vlada-karpovich-9968540 1.png" class="image">
        </div>  
    </div>
</body>
</html>
